<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}     {{!-- filename not path--}}
        <p style="color: green;">{{message}}</p>
    </div>
    
    {{>footer}}
</body>

</html>